<title>Nesfit Cod/E\ | Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
        <img src="https://cdn.discordapp.com/avatars/800156728733204530/de4bd1721282beb7ed7e767342f9dcd0.png?size=1024" style="border-radius: 50%;">
      </div>
      <h1 class="text-light font-weight-light">Selam, Nesfit Cod/E\  Code Bilgilendirme Sayfasına Hoşgeldiniz</h1>
      <p class="lead"><a href="/davet" target="_blank">Nesfit Code Discord Sunucusu</a> Kod Paylaşım Sistemine Hoş Geldin!</p>
    </div><br>
    <h3 class="text-light font-weight-light">Kodlar İçin Açıklama</h3>
    <hr>
    <ul>
      <li>
       Sunucumuzdaki Kodların Değerlerine Göre Sıralaması:
        <ul>
          <li>Hazır Sistemler (20 davet)</li>
          <li>Elmas Kodlar (15 davet)</li>
          <li>Altın Kodlar (0 davet)</li>
          <li>Normal Kodlar (0 davet) </li>
        </ul><br>
      </li>
      <li>Kodları Görebilmek İçin, Rollerine Sahip Olmalısınız. Rollere erişebilmek için yanlarında belirtilmiş davet sayısına ulaşmanız gerekiyor. Normal kodlar herkese açıktır, siteden ulaşabilirsiniz.</li>
      <li>Sunucuyu Boostlayanlar Tüm Kodları Görebilmektedirler.</li>
      <li>Davet Bilginizi görmek için <kbd>?invite</kbd> Yazmanız Yeterlidir.</li>
    </ul><br>
    <h3 class="text-light font-weight-light">Bilgilendirme</h3>
    <hr>
  
      <li class="text-light font-weight-light">Kodlarımız artık bu site üzerinden paylaşılmaktadır.</li>
      <li class="text-light font-weight-light">Sitede sağ üst köşede bulunan `Giriş Yap` seçeneğine basıp giriş yapmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">Giriş yaptıktan sonra görme izniniz olan kodları görebileceksiniz.</li>
      <li class="text-light font-weight-light">Normal Kodları ve Topluluk Kodlarını (Sizden Gelenler) herkes görebilir.</li>
      <li class="text-light font-weight-light">Geri kalan kodlara erişebilmek için, sunucuda o kod kategorisinin rolüne sahip olmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">
        Kod rollerine sahip olmak için sunucumuzda belirli davet sayılarına ulaşmanız gerekmektedir.
        <ul>
          
        </ul>
      </li>      
    </ul>
    <br>
    <h3 class="text-light font-weight-light">Kodlara Erişebilmek İçin Yapmanız Gerekneler:</h3>
    <hr>
    <ul>
      <li class="text-light font-weight-light"><a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir.</li>
      <li class="text-light font-weight-light">Discord hesabınızla <a href="/giris" target="_blank">giriş yapmanız</a> gerekmektedir.</li>
      <li class="text-light font-weight-light">Daha Sonrasında Gerekli Rolleri Alın.
        <ul>
        </ul>
      </li>
    </ul>
    <h3 class="text-danger">Önemli Not:</h3>
    <hr>
    <p class="text-light font-weight-light">
     Lütfen bir hata aldığınızda hata mesajını okuyun! Hata mesajını okumadan saçma sapan sorular sormayın! 
    </p>
  </div>
</main>